<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Site Checker</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'site_status_checker/site.css' %}" />
    </head>
    <body>
        <span class="message">Enter the website name(exclusive of https:// prefix or .com suffix) at the end of address bar <br>
        to get the site's status <br><hr><br>
        Showing status of relevant websites affiliated with Memorial University of Newfoundland below <br><br></span>
        <dl>
            <dt id="link1" onclick="showStatus('link1')">mun</dt>
            <dd>{{ status0 }}<br></dd>
            <dt id="link2" onclick="showStatus('link2')">my.mun</dt>
            <dd>{{ status1 }}<br></dd>
            <dt id="link3" onclick="showStatus('link3')">online.mun</dt>
            <dd>{{ status2 }}<br></dd>
            <dt id="link4" onclick="showStatus('link4')">selfservice.mun</dt>
            <dd>{{ status3 }}<br></dd>
            <dt id="link5" onclick="showStatus('link5')">crm.stuaff.mun</dt>
            <dd>{{ status4 }}<br></dd>
            <dt id="link6" onclick="showStatus('link6')">letseat.mun</dt>
            <dd>{{ status5 }}<br></dd>
        </dl>
    </body>
    <script>
        function showStatus(elem){
            var site = document.getElementById(elem).innerHTML
            fetch(`http://127.0.0.1:8000/${site}`, {method: 'GET'})
            .then(response => response.json())
            .then(data => console.log(data));
        }
    </script>
</html>
