.message {
    font-weight: 600;
    font-size: 25px;
    color: black;
}

.status_col {
    font: weight 700px;
    color: green;
}

dt {
    font-style: oblique;
    font-weight: 700;
    font-size: 20px;
    color: darkslategray;
}

dd {
    font-style: italic;
    font-size: 18px;
    color: rgb(57, 169, 126);
}
