body{
    margin: 0;
}

input {
    display: flex;
    padding: 12px 20px;
    margin: 8px 8px;
    margin-right: 5%;
}

#main-container {
    display: flex;
    flex-direction: column;
}

div#main-container {
    background-color: #F5E8F7
}

h1 {
    margin-left: 20px;
}

#graph-container{
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: row;
    align-content: center;
    margin-top: 1%;
    width: 95%;
    height: 95vh;
    padding: 1%;
}
.bar-graph-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    height: 95vh;

}

.pie-chart-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    height: 95vh;
}

.card-container{
    flex: auto;
    width: 90%;
    height: 50%;
    padding: 0%;
    margin-top: 3%;
}

#btn-graphs.tablinks {
    font-size: 18px;
    margin-left: 5px;
    font-family: 'Capriola';
}

button.tablinks {
    font-family: 'Capriola';
    font-size: 18px;
}

.tab {
    overflow: hidden;
    border: 1px solid #F5D4FB;
    background-color: #EDC7F4;
}
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
  
.tab button:hover {
    background-color: #FFC6FF;
}
  
.tab button:focus {
    background-color: rgb(115, 55, 120);
    color: white;
}

.tabcontent {
    display: none;
    /* padding: 6px 12px; */
    border: 1px solid #ccc;
    height: 85vh;
    border-top: none;
}

form {
    font-family: 'Titillium Web';
    margin-left: 20px;
    margin-top: 12px;
}

button#add-streamer-btn {
    font-size: 16px;
    padding: 4px;
    padding-left: 9px;
    padding-right: 9px;
    margin-top: 10px;
    margin-left: 8px;
}

button#btn-find-streamer {
    font-size: 16px;
    padding: 4px;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 8px;
}

button#btn-update-streamer {
    font-size: 16px;
    padding: 4px;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 15px;
}

button#btn-delete-streamer {
    font-size: 16px;
    padding: 4px;
    margin-left: 9px;
    padding-left: 9px;
    padding-right: 9px;
}

h2 {
    font-family: 'Titillium Web';
    font-weight: bold;
    margin-left: 12px;
}

.flex-container{
    display: flex;
    flex-direction: row; 
    font-family: 'Titillium Web';
    margin-left: 14px;
    align-items: baseline;
}

.flex-button-container{
    display: flex; 
    flex-direction: row; 
    margin-top: 25px;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Titillium Web';
}    

tr {
    text-align: center;
}

td, th {
    padding: 10px;
}

th {
    background-color: #B48CBC;
    color: white;
    font-size: 17px;
}

.even-row{
    background-color: #FBE5FB;
}
.odd-row{
    background-color: #FAEFFA;
}